/node_modules
/build
/lib/*.js
*.o
*.lo
*.la
*.a
.deps
.libs
Makefile
*.log
*.status
deps/onig/libtool
vendor/onig/sample/crnl
vendor/onig/sample/encode
vendor/onig/sample/listcap
vendor/onig/sample/names
vendor/onig/sample/posix
vendor/onig/sample/simple
vendor/onig/sample/sql
vendor/onig/sample/syntax
vendor/onig/libtool
