/node_modules
/build
/lib/*.js
*.swp
*.o
*.lo
*.la
*.a
.deps
.libs
Makefile
*.log
*.status
deps/onig/libtool
deps/onig/sample/crnl
deps/onig/sample/encode
deps/onig/sample/listcap
deps/onig/sample/names
deps/onig/sample/posix
deps/onig/sample/simple
deps/onig/sample/sql
deps/onig/sample/syntax
deps/onig/libtool
*~
.node-version
