/build
.pairs
*.a
*.o
*.lo
.deps
.libs
*.coffee
Makefile
*.log
*.status
deps/onig/sample/crnl
deps/onig/sample/encode
deps/onig/sample/listcap
deps/onig/sample/names
deps/onig/sample/posix
deps/onig/sample/simple
deps/onig/sample/sql
deps/onig/sample/syntax
.travis.yml
*~
.npmignore
.node-version
benchmark
