/build
.pairs
*.a
*.o
*.lo
.deps
.libs
*.coffee
Makefile
*.log
*.status
vendor/onig/sample/crnl
vendor/onig/sample/encode
vendor/onig/sample/listcap
vendor/onig/sample/names
vendor/onig/sample/posix
vendor/onig/sample/simple
vendor/onig/sample/sql
vendor/onig/sample/syntax
