language: node_js

node_js:
  - "6"
  - "8"
  - "10"
  - "12"

os:
  - linux
  - mac
  - windows

env:
  global:
    - npm_config_jobs=max

branches:
  only:
    - master

notifications:
  email:
    on_success: never
    on_failure: change
