os:
  - linux

language: node_js

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

node_js:
  - "6"
  - "8"
  - "10"
  - "12"

install:
  - export CXX=g++-4.8
  - $CXX --version
  - npm i

notifications:
  email:
    on_success: never
    on_failure: change

git:
  depth: 10

branches:
  only:
    - master
